*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family:Arial, Helvetica, sans-serif;
  background: #f2f2f2;
}
.container{
   background:linear-gradient(to right,#ffc400 70%,#fff5d8 30%);
   margin: 30px auto;
   overflow: hidden;
   width:90%;
  height:90vh;
  border-radius: 20px;
  position: relative;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:30px 40px;
}
.Logo{
  width: 150px;
}
.Line{
 width: 40px;
}
.content{
    width:420px;
    margin-left:40px;
    margin-top:90px;
}

.small-title{
    letter-spacing:6px;
    margin-bottom:20px;
}

.content h1{
    font-size:95px;
    margin-bottom:20px;
}

.description{
    line-height:35px;
    font-size:16px;
    color: #8b8181;

}

.content p{
    margin-top:40px;
}
